{%- liquid
  assign global_heading_size = settings.enable_global_heading_font_size
  assign global_body_size = settings.enable_global_body_font_size
  assign global_color = settings.enable_global_color
-%}

<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'" defer>
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'" defer>
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'" defer>

{% render 'list-payment-styles' %}

<style>
  .newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }

  @media screen and (min-width: 750px) {
    .newsletter-form {
      align-items: flex-start;
      margin: 0 auto;
      max-width: 36rem;
    }
  }

  .newsletter-form__field-wrapper {
    width: 100%;
  }

  .newsletter-form__field-wrapper .field__input {
    padding-right: 5rem;
  }

  .newsletter-form__field-wrapper .field {
    z-index: 0;
  }

  .newsletter-form__message {
    justify-content: center;
    margin-bottom: 0;
  }

  .newsletter-form__message--success {
    margin-top: 2rem;
  }

  @media screen and (min-width: 750px) {
    .newsletter-form__message {
      justify-content: flex-start;
    }
  }

  .newsletter-form__button {
    width: 4.4rem;
    margin: 0;
    right: var(--inputs-border-width);
    top: 0;
    height: 100%;
    z-index: 2;
  }

  .newsletter-form__button:focus-visible {
    box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
      0 0 0 0.4rem rgba(var(--color-foreground));
    background-color: rgb(var(--color-background));
  }

  .newsletter-form__button:focus {
    box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
      0 0 0 0.4rem rgba(var(--color-foreground));
    background-color: rgb(var(--color-background));
  }

  .newsletter-form__button:not(:focus-visible):not(.focused) {
    box-shadow: inherit;
    background-color: inherit;
  }

  .newsletter-form__button .icon {
    width: 1.5rem;
  }

  .newsletter__solid-btn {
    margin-top: 1rem;
  }


</style>
{%- style -%}
  #shopify-section-{{ section.id }} .section__footer {
    padding: 5px 0;
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section__footer color-{{ section.settings.color_scheme }}">
  <footer class="footer section-{{ section.id }}-padding">
    {%- liquid
      assign has_social_icons = true
      if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
        assign has_social_icons = false
      endif
  
      if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
        assign brand_empty = true
      endif
  
      if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
        assign only_empty_brand = true
      endif
    -%}

    {%- if section.blocks.size > 0 or section.settings.newsletter_enable or section.settings.show_social or section.settings.enable_follow_on_shop -%}
      {%- unless only_empty_brand -%}
        <div class="footer__content-top page-width">
          {%- if section.blocks.size > 0 -%}
            {%- liquid
              if section.blocks.size == 9
                assign footer_grid_class = 'grid--3-col-tablet'
              elsif section.blocks.size > 6
                assign footer_grid_class = 'grid--4-col-desktop'
              elsif section.blocks.size > 4
                assign footer_grid_class = 'grid--3-col-tablet'
              endif
            -%}
            <div class="footer__blocks-wrapper grid {{ footer_grid_class }} fade-in-child">
              {%- for block in section.blocks -%}
                <div
                  class="footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %} footer-block--desktop-{{ block.settings.width_desktop }} footer-block--mobile-2"
                  {{ block.shopify_attributes }}
                >
                  {%- if block.settings.heading != blank -%}
                    <h2 
                      class="footer-block__heading"
                      {% if block.settings.heading_color != blank %}
                        style="color: {{ block.settings.heading_color }}"
                      {% endif %}
                    >
                      {{- block.settings.heading -}}
                    </h2>
                  {%- endif -%}
  
                  {%- case block.type -%}
                    {%- when '@app' -%}
                      {% render block %}
                    {%- when 'text' -%}
                      <div class="footer-block__details-content rte" style="text-align: {{ block.settings.text_alignment }}; color: {{ block.settings.body_color }};">
                        {{ block.settings.subtext }}
                      </div>
                    {%- when 'link_list' -%}
                      {%- if block.settings.menu != blank -%}
                        <ul class="footer-block__details-content list-unstyled">
                          {%- for link in block.settings.menu.links -%}
                            <li>
                              <a
                                href="{{ link.url }}"
                                class="sw-base-text-color link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                              >
                                {{ link.title }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    {%- when 'contact_list' -%}
                      {% style %}
                        .footer-contact-icon svg path {
                          fill: {{ block.settings.icon_color }} !important;
                        }
                      {% endstyle %}
                      <ul class="footer-block__details-content list-unstyled">
                        {%- if block.settings.address != blank -%}
                          <li>
                            <div class="footer-contact-item">
                              <div class="footer-contact-icon">
                                {%- if block.settings.address_icon != blank %}
                                  <span 
                                    class="material-icon material-symbols-outlined notranslate"
                                    style="color: {{ block.settings.icon_color }};"
                                  >
                                    {{ block.settings.address_icon }}
                                  </span>
                                {% else %}
                                  <svg width="16" height="22" viewBox="0 0 16 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.6957 21.5992C10.578 19.4909 15.6315 13.3598 15.6315 8.30257C15.6315 4.08798 12.2149 0.671387 8.0003 0.671387C3.78573 0.671387 0.369141 4.08798 0.369141 8.30257C0.369141 13.3598 5.42264 19.4909 7.3049 21.5992C7.6796 22.0189 8.321 22.0189 8.6957 21.5992ZM8.0003 11.896C9.9212 11.896 11.4784 10.3388 11.4784 8.41797C11.4784 6.49709 9.9212 4.93991 8.0003 4.93991C6.0794 4.93991 4.52224 6.49709 4.52224 8.41797C4.52224 10.3388 6.0794 11.896 8.0003 11.896Z" fill="currentColor"/>
                                  </svg>
                                {% endif %}
                              </div>
                              <p class="footer-contact-description sw-base-text-color" style="color:{{ block.settings.text_color }} !important">{{ block.settings.address }}</p>
                            </div>
                          </li>
                        {%- endif -%}
                        {%- if block.settings.tel != blank -%}
                          <li>
                            <div class="footer-contact-item">
                              <div class="footer-contact-icon">
                                {%- if block.settings.tel_icon != blank %}
                                  <span 
                                    class="material-icon material-symbols-outlined notranslate"
                                    style="color: {{ block.settings.icon_color }};"
                                  >
                                    {{ block.settings.tel_icon }}
                                  </span>
                                {% else %}
                                  <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.02667 8.7887C1.20685 6.91689 0.751953 4.84888 0.751953 2.67462C0.751953 2.34536 0.762383 2.01854 0.782933 1.69447C0.948213 0.771659 1.75499 0.0712891 2.72536 0.0712891H5.41175C6.50164 0.0712891 7.38516 0.954809 7.38516 2.0447V2.89475C7.38516 5.05596 6.2271 6.94669 4.49766 7.9803C5.83763 10.8816 8.24245 13.1901 11.211 14.4048C12.2116 12.5531 14.1703 11.2952 16.4227 11.2952H17.2728C18.3627 11.2952 19.2462 12.1787 19.2462 13.2686V15.955C19.2462 16.8017 18.713 17.5238 17.9641 17.804C17.3358 17.8845 16.6956 17.9268 16.0458 17.9284H15.9659C14.0429 17.9235 12.2037 17.5622 10.5104 16.908C6.71503 15.4417 3.6529 12.5012 2.02667 8.7887Z" fill="currentColor"/>
                                  </svg>
                                {% endif %}
                              </div>
                              <p class="footer-contact-description sw-base-text-color" style="color: {{ block.settings.text_color }} !important">{{ block.settings.tel }}</p>
                            </div>
                          </li>
                        {%- endif -%}
                        {%- if block.settings.email != blank -%}
                          <li>
                            <div class="footer-contact-item">
                              <div class="footer-contact-icon">
                                {%- if block.settings.email_icon != blank %}
                                  <span 
                                    class="material-icon material-symbols-outlined notranslate"
                                    style="color: {{ block.settings.icon_color }};"
                                  >
                                    {{ block.settings.email_icon }}
                                  </span>
                                {% else %}
                                  <svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.568075 1.205L9.53227 7.01474C10.0579 7.35544 10.7347 7.35544 11.2603 7.01474L20.1875 1.22895C20.0275 0.759784 19.583 0.422363 19.0596 0.422363H1.68752C1.17312 0.422363 0.734865 0.74835 0.568075 1.205ZM20.2511 3.08081L12.1242 8.34789C11.073 9.02921 9.71956 9.02921 8.66827 8.34789L0.496094 3.05138V12.3862C0.496094 13.0442 1.02952 13.5777 1.68752 13.5777H19.0596C19.7176 13.5777 20.2511 13.0442 20.2511 12.3862V3.08081Z" fill="currentColor"/>
                                  </svg>
                                {% endif %}
                              </div>
                              <p class="sw-base-text-color footer-contact-description" style="color: {{ block.settings.text_color }} !important">{{ block.settings.email }}</p>
                            </div>
                          </li>
                        {%- endif -%}
                      </ul>
                    {%- when 'brand_information' -%}
                      <div class="footer-block__brand-info">
                        {%- if settings.brand_image != blank -%}
                          {%- assign brand_image_height = settings.brand_image_width | divided_by: settings.brand_image.aspect_ratio -%}
                          <div
                            class="footer-block__image-wrapper global-media-settings"
                            style="max-width: min(100%, {{ settings.brand_image_width }}px);"
                          >
                            {{
                              settings.brand_image
                              | image_url: width: 1100
                              | image_tag:
                                loading: 'lazy',
                                widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                                height: brand_image_height,
                                width: settings.brand_image_width
                            }}
                          </div>
                        {%- endif -%}
                        {%- if settings.brand_headline != blank -%}
                          <h2 style="color: {{ section.settings.brand_color_heading }}; text-align: {{ block.settings.text_alignment }};" class="footer-block__heading rte">{{ settings.brand_headline }}</h2>
                        {%- endif -%}
                        {%- if settings.brand_description != blank -%}
                          <div 
                            style="color: {% if global_color %}rgb(var(--color-base-text)){% else %}{{ section.settings.brand_color_text }}{% endif %}; text-align: {{ block.settings.text_alignment }};" 
                            class="rte"
                          >
                            {{ settings.brand_description | capitalize }}
                          </div>
                        {%- endif -%}
                        {%- if block.settings.show_social and has_social_icons -%}
                          {%- render 'social-icons' social_icons_alignment: block.settings.social_icons_alignment -%}
                        {%- endif -%}
                      </div>
                    {%- when 'image' -%}
                      <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                        {%- if block.settings.image != blank -%}
                          <div
                            class="footer-block__image-wrapper global-media-settings"
                            style="max-width: min(100%, {{ block.settings.image_width }}%);"
                          >
                            {%- capture sizes -%}
                              (min-width: {{ settings.page_width }}px) {{ settings.page_width | times: block.settings.image_width | divided_by: 100 | divided_by: 4 | round }}px,
                              (min-width: 750px) {{ 750 | times: block.settings.image_width | divided_by: 100 | divided_by: 3 | round }}px,
                              {{ 375 | times: block.settings.image_width | divided_by: 100 | round }}px
                            {%- endcapture -%}
                            <img
                              srcset="
                                {%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                                {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                                {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                                {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                                {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                                {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                                {{ block.settings.image | image_url }} {{ block.settings.image.width }}w
                              "
                              sizes="{{ sizes }}"
                              src="{{ block.settings.image | image_url: width: 760 }}"
                              alt="{{ block.settings.image.alt | escape }}"
                              loading="lazy"
                              width="{{ block.settings.image.width }}"
                              height="{{ block.settings.image.height }}"
                            >
                          </div>
                        {%- else -%}
                          {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                        {%- endif -%}
                      </div>
                    {%- when 'featured_product' -%}
                      <div class='{{ block.settings.card_width }}'>
                        {% render 'card-product',
                          card_product: block.settings.product,
                          media_aspect_ratio: 'adapt',
                          show_secondary_image: block.settings.second_image,
                          extend_height: true,
                          custom_color_scheme: block.settings.color_scheme
                        %}
                      </div>
                    {%- when 'featured_collection' -%}
                      <div class='{{ block.settings.card_width }}'>
                        {% render 'card-collection',
                          card_collection: block.settings.collection,
                          media_aspect_ratio: block.settings.image_ratio,
                          columns: 1,
                          custom_color_scheme: block.settings.color_scheme
                        %}
                      </div>
                    {% when 'email_signup' %}
                      <div>
                        <div style="color: {{ block.settings.email_color }}" class="sw-base-text-color footer-block__details-content footer-block__details-content-mb rte">
                          {{ block.settings.subtext }}
                        </div>
                        {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                          <input type="hidden" name="contact[tags]" value="newsletter">
                          <div class="newsletter-form__field-wrapper">
                            <div class="field">
                              <input
                                id="NewsletterForm--{{ section.id }}"
                                type="email"
                                name="contact[email]"
                                class="field__inputs"
                                value="{{ form.email }}"
                                aria-required="true"
                                autocorrect="off"
                                autocapitalize="off"
                                autocomplete="email"
                                {% if form.errors %}
                                  autofocus
                                  aria-invalid="true"
                                  aria-describedby="ContactFooter-error"
                                {% elsif form.posted_successfully? %}
                                  aria-describedby="ContactFooter-success"
                                {% endif %}
                                placeholder="{{ 'newsletter.label' | t }}"
                                required
                              >
                              <label class="field__label" for="NewsletterForm--{{ section.id }}">
                                {{ 'newsletter.label' | t }}
                              </label>
                              {% if block.settings.button_type == 'arrow' %}
                                <button
                                  type="submit"
                                  class="newsletter-form__button field__button"
                                  name="commit"
                                  id="Subscribe"
                                  aria-label="{{ 'newsletter.button_label' | t }}"
                                >
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-4 4l4-4m-4-4l4 4"/></svg>
                                </button>
                              {% endif %}
                            </div>
                            {%- if form.errors -%}
                              <small class="newsletter-form__message form__message" id="ContactFooter-error">
                                {%- render 'icon-error' -%}
                                {{- form.errors.translated_fields.email | capitalize }}
                                {{ form.errors.messages.email -}}
                              </small>
                            {%- endif -%}
                          </div>
                          {% if block.settings.button_type == 'solid' %}
                            <button
                              type="submit"
                              class="button newsletter__solid-btn button--full-width split-slide-button"
                              name="commit"
                              id="Subscribe"
                              aria-label="{{ 'newsletter.button_label' | t }}"
                            >
                              <div class="split-slide-right"></div>
                              <span class="button-text">
                                {{ block.settings.button_label }}
                              </span>
                            </button>
                          {% endif %}
                          {%- if form.posted_successfully? -%}
                            <h3
                              class="newsletter-form__message newsletter-form__message--success form__message"
                              id="ContactFooter-success"
                              tabindex="-1"
                              autofocus
                            >
                              {% render 'icon-success' -%}
                              {{- 'newsletter.success' | t }}
                            </h3>
                          {%- endif -%}
                        {%- endform -%}
                      </div>
                  {%- endcase -%}
                </div>
              {%- endfor -%}
            </div>
          {%- endif -%}
  
          <div class="footer-block--newsletter">
            {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
              <div class="footer__follow-on-shop">
                {% # theme-check-disable %}
                {{ shop | login_button: action: 'follow' }}
                {% # theme-check-enable %}
              </div>
            {%- endif -%}
          </div>
        </div>
      {%- endunless -%}
    {%- endif -%}
  
    <div class="footer__content-bottom">
      <div class="footer__content-bottom-wrapper page-width">
        <div class="footer__column footer__localization isolate">
          {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
            <noscript>
              {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
                <div class="localization-form__select">
                  <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                  <select
                    class="localization-selector link"
                    name="country_code"
                    aria-labelledby="FooterCountryLabelNoScript"
                  >
                    {%- for country in localization.available_countries -%}
                      <option
                        value="{{ country.iso_code }}"
                        {%- if country.iso_code == localization.country.iso_code %}
                          selected
                        {% endif %}
                      >
                        {{ country.name }} ({{ country.currency.iso_code }}
                        {{ country.currency.symbol }})
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
                <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
              {%- endform -%}
            </noscript>
            <localization-form>
              {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
                <div class="no-js-hidden">
                  <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                  <div class="disclosure">
                    <button
                      type="button"
                      class="disclosure__button localization-form__select localization-selector link link--text caption-large"
                      aria-expanded="false"
                      aria-controls="FooterCountryList"
                      aria-describedby="FooterCountryLabel"
                    >
                      {{ localization.country.name }} ({{ localization.country.currency.iso_code }}
                      {{ localization.country.currency.symbol }})
                      {% render 'icon-caret' %}
                    </button>
                    <div class="disclosure__list-wrapper" hidden>
                      <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled">
                        {%- for country in localization.available_countries -%}
                          <li class="disclosure__item" tabindex="-1">
                            <a
                              class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset"
                              href="#"
                              {% if country.iso_code == localization.country.iso_code %}
                                aria-current="true"
                              {% endif %}
                              data-value="{{ country.iso_code }}"
                            >
                              {{ country.name }}
                              <span class="localization-form__currency"
                                >({{ country.currency.iso_code }}
                                {{ country.currency.symbol }})</span
                              >
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  </div>
                  <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                </div>
              {%- endform -%}
            </localization-form>
          {%- endif -%}
  
          {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
            <noscript>
              {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
                <div class="localization-form__select">
                  <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">
                    {{ 'localization.language_label' | t }}
                  </h2>
                  <select
                    class="localization-selector link"
                    name="locale_code"
                    aria-labelledby="FooterLanguageLabelNoScript"
                  >
                    {%- for language in localization.available_languages -%}
                      <option
                        value="{{ language.iso_code }}"
                        lang="{{ language.iso_code }}"
                        {%- if language.iso_code == localization.language.iso_code %}
                          selected
                        {% endif %}
                      >
                        {{ language.endonym_name | capitalize }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
                <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
              {%- endform -%}
            </noscript>
  
            <localization-form>
              {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
                <div class="no-js-hidden">
                  <h2 class="caption-large text-body" id="FooterLanguageLabel">
                    {{ 'localization.language_label' | t }}
                  </h2>
                  <div class="disclosure">
                    <button
                      type="button"
                      class="disclosure__button localization-form__select localization-selector link link--text caption-large"
                      aria-expanded="false"
                      aria-controls="FooterLanguageList"
                      aria-describedby="FooterLanguageLabel"
                    >
                      {{ localization.language.endonym_name | capitalize }}
                      {% render 'icon-caret' %}
                    </button>
                    <div class="disclosure__list-wrapper" hidden>
                      <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled">
                        {%- for language in localization.available_languages -%}
                          <li class="disclosure__item" tabindex="-1">
                            <a 
                              class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset"
                              href="#"
                              hreflang="{{ language.iso_code }}"
                              lang="{{ language.iso_code }}"
                              {% if language.iso_code == localization.language.iso_code %}
                                aria-current="true"
                              {% endif %}
                              data-value="{{ language.iso_code }}"
                            >
                              {{ language.endonym_name | capitalize }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  </div>
                  <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
                </div>
              {%- endform -%}
            </localization-form>
          {%- endif -%}
        </div>
        <div class="footer__column footer__column--info">
          {%- if section.settings.enable_payment_icons -%}
            <div class="footer__payment" style="--payment-icon-size: {{ section.settings.payment_icon_size }}px;">
              <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
              <ul class="list list-payment" role="list">
                {% assign enabled_payment_types = settings.cart_payment__items | remove: ' ' | split: ',' %}
                {%- for type in enabled_payment_types -%}
                  <li class="list-payment__item">
                    {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
        </div>
      </div>
      <div class="footer__content-bottom-wrapper page-width{% if section.settings.enable_country_selector == false and section.settings.enable_language_selector == false %} footer__content-bottom-wrapper--center{% endif %}">
        <div class="footer__copyright caption">
          <div class="copyright_branding__container">
            <small style="color: {{ section.settings.copy_color }}" class="copyright__content">
              &copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
            </small>
            {% unless section.settings.branding_text == blank %}
              <a href="https://apps.shopify.com/dropshipt" target="_blank">
                <small style="color: {{ section.settings.copy_color }}" class="copyright__content">{{ section.settings.branding_text }}</small>
              </a>
            {% endunless %}
          </div>
          {%- if section.settings.show_policy -%}
            <ul class="policies list-unstyled" style="--policy-link-size: {{ section.settings.policy_link_size }}px;">
              {%- for policy in shop.policies -%}
                {%- if policy != blank -%}
                  <li>
                    <small class="copyright__content"
                      ><a href="{{ policy.url }}">{{ policy.title }}</a></small
                    >
                  </li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </div>
      </div>
    </div>
  </footer>
</div>


{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('.disclosure__list-wrapper'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));
      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;
      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);

  function setEqualHeight() {
    if (window.innerWidth <= 750) {
      window.requestAnimationFrame(() => {
        document.querySelectorAll('[class*="footer-block--desktop-"]').forEach(block => {
          block.style.height = 'auto';
        });
      });
      return;
    }

    const blocks = [...document.querySelectorAll('[class*="footer-block--desktop-"]')];
    if (blocks.length === 0) return;

    let rows = [];
    let currentRow = [];
    let rowWidth = 0;

    window.requestAnimationFrame(() => {
      blocks.forEach(block => {
        block.style.height = 'auto';
      });
    });

    blocks.forEach(block => {
      const match = block.className.match(/footer-block--desktop-(\d+)/);
      const colSize = match ? parseInt(match[1]) : 0;

      if (rowWidth + colSize > 12) {
        rows.push(currentRow);
        currentRow = [];
        rowWidth = 0;
      }

      currentRow.push(block);
      rowWidth += colSize;
    });

    if (currentRow.length) rows.push(currentRow);

    rows.forEach(row => {
      const maxHeight = Math.max(...row.map(block => block.offsetHeight));
      window.requestAnimationFrame(() => {
        row.forEach(block => {
          block.style.height = `${maxHeight}px`;
        });
      });
    });
  }

  window.addEventListener('DOMContentLoaded', () => {
    setTimeout(setEqualHeight, 100);
  });

  let resizeTimer;
  window.addEventListener('resize', () => {
    clearTimeout(resizeTimer);
    resizeTimer = setTimeout(setEqualHeight, 100);
  });

  if (Shopify.designMode) {
    const sectionId = "{{ section.id }}";

    document.addEventListener('shopify:section:unload', (event) => {
      if (event.detail.sectionId === sectionId) {
        setTimeout(setEqualHeight, 100);
      }
    });
  
    document.addEventListener('shopify:section:load', (event) => {
      if (event.detail.sectionId === sectionId) {
        setTimeout(setEqualHeight, 100);
      }
    });
  }
{% endjavascript %}
{% schema %}
{
  "name": "t:sections.footer.name",
  "class": "section animation-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Menu",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "range",
          "id": "width_desktop",
          "min": 3,
          "max": 12,
          "step": 1,
          "default": 3,
          "label": "Desktop columns"
        },
        {
          "type": "header",
          "content": "Styling"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading color",
          "default": "#383838"
        }
      ]
    },
    {
      "type": "contact_list",
      "name": "Contact information",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "address",
          "label": "Address",
          "default": "Your address here..."
        },
        {
          "type": "textarea",
          "id": "address_icon",
          "label": "Address icon"
        },
        {
          "type": "inline_richtext",
          "id": "tel",
          "label": "Telephone",
          "default": "+1 000 000 0000"
        },
        {
          "type": "textarea",
          "id": "tel_icon",
          "label": "Telephone icon"
        },
        {
          "type": "inline_richtext",
          "id": "email",
          "label": "Email",
          "default": "Atlas@helloatlas.io"
        },
        {
          "type": "textarea",
          "id": "email_icon",
          "label": "Email icon"
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "range",
          "id": "width_desktop",
          "min": 3,
          "max": 12,
          "step": 1,
          "default": 3,
          "label": "Desktop columns"
        },
        {
          "type": "header",
          "content": "Styling"
        },
        {
          "type": "color",
          "id": "icon_color",
          "label": "Icon color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#000000"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "Show social icons",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "range",
          "id": "width_desktop",
          "min": 3,
          "max": 12,
          "step": 1,
          "default": 12,
          "label": "Desktop columns"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "social_icons_alignment",
          "label": "Icons alignment",
          "options": [
            {
              "value": "flex-start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "Body"
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "range",
          "id": "width_desktop",
          "min": 3,
          "max": 12,
          "step": 1,
          "default": 3,
          "label": "Desktop columns"
        },
        {
          "type": "header",
          "content": "Styling"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "body_color",
          "label": "Body color",
          "default": "#000000"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:sections.footer.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.footer.blocks.image.settings.image.label"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.image.settings.layout.label"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "t:sections.footer.blocks.image.settings.alignment.label",
          "options": [
            {
              "value": "",
              "label": "t:sections.footer.blocks.image.settings.alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.footer.blocks.image.settings.alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.footer.blocks.image.settings.alignment.options__3.label"
            }
          ],
          "default": "center"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 20,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.footer.blocks.image.settings.image_width.label",
          "default": 80
        },
        {
          "type": "range",
          "id": "width_desktop",
          "min": 3,
          "max": 12,
          "step": 1,
          "default": 3,
          "label": "t:sections.footer.blocks.image.settings.width_desktop.label"
        }
      ]
    },
    {
      "type": "email_signup",
      "name": "Email signup",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>A short sentence encouraging customers to subscribe to your newsletter.</p>",
          "label": "Body"
        },
        {
          "type": "inline_richtext",
          "id": "button_label",
          "label": "Button label",
          "default": "Join"
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "range",
          "id": "width_desktop",
          "min": 3,
          "max": 12,
          "step": 1,
          "default": 6,
          "label": "Desktop columns"
        },
        {
          "type": "header",
          "content": "Styling"
        },
        {
          "type": "select",
          "id": "button_type",
          "options": [
            {
              "value": "arrow",
              "label": "Arrow button"
            },
            {
              "value": "solid",
              "label": "Solid button"
            }
          ],
          "default": "solid",
          "label": "Button type"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading color",
          "default": "#383838"
        },
        {
          "type": "color",
          "id": "email_color",
          "label": "Body color",
          "default": "#383838"
        },
        {
          "type": "paragraph",
          "content": "t:sections.footer.settings.header__1.info"
        }
      ]
    },
    {
      "type": "featured_product",
      "name": "Featured product",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.collage.blocks.product.settings.product.label"
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "checkbox",
          "id": "second_image",
          "default": true,
          "label": "Show hover image"
        },
        {
          "type": "select",
          "id": "card_width",
          "options": [
            {
              "value": "footer_card--half-width",
              "label": "Half width of column"
            },
            {
              "value": "full",
              "label": "Full width of column"
            }
          ],
          "default": "full",
          "label": "Mobile width"
        },
        {
          "type": "range",
          "id": "width_desktop",
          "min": 3,
          "max": 12,
          "step": 1,
          "default": 3,
          "label": "Desktop columns"
        },
        {
          "type": "header",
          "content": "Styling"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "accent-3",
              "label": "t:sections.all.colors.accent_3.label"
            },
            {
              "value": "custom-color-1",
              "label": "t:sections.all.colors.custom_color_1.label"
            },
            {
              "value": "custom-color-2",
              "label": "t:sections.all.colors.custom_color_2.label"
            },
            {
              "value": "custom-color-3",
              "label": "t:sections.all.colors.custom_color_3.label"
            },
            {
              "value": "custom-color-4",
              "label": "t:sections.all.colors.custom_color_4.label"
            },
            {
              "value": "custom-color-5",
              "label": "t:sections.all.colors.custom_color_5.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            },
            {
              "value": "gradient-background-1",
              "label": "t:sections.all.colors.gradient_background_1.label"
            }
          ],
          "default": "accent-1",
          "label": "Content color scheme"
        }
      ]
    },
    {
      "type": "featured_collection",
      "name": "Featured collection",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "select",
          "id": "card_width",
          "options": [
            {
              "value": "footer_card--half-width",
              "label": "Half width of column"
            },
            {
              "value": "full",
              "label": "Full width of column"
            }
          ],
          "default": "full",
          "label": "Mobile width"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.collection-list.settings.image_ratio.options__1.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.collection-list.settings.image_ratio.options__2.label"
            },
            {
              "value": "square",
              "label": "t:sections.collection-list.settings.image_ratio.options__3.label"
            }
          ],
          "default": "square",
          "label": "t:sections.collection-list.settings.image_ratio.label",
          "info": "t:sections.collection-list.settings.image_ratio.info"
        },
        {
          "type": "range",
          "id": "width_desktop",
          "min": 3,
          "max": 12,
          "step": 1,
          "default": 3,
          "label": "Desktop columns"
        },
        {
          "type": "header",
          "content": "Styling"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "accent-3",
              "label": "t:sections.all.colors.accent_3.label"
            },
            {
              "value": "custom-color-1",
              "label": "t:sections.all.colors.custom_color_1.label"
            },
            {
              "value": "custom-color-2",
              "label": "t:sections.all.colors.custom_color_2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            }
          ],
          "default": "accent-1",
          "label": "Content color scheme"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "inline_richtext",
      "id": "branding_text",
      "label": "Branding text"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "Configure in language setting [language settings.](\/admin\/settings\/languages)"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "label": "Enable country selector",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "label": "Enable language selector",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": false,
      "label": "Policy links display",
      "info": "Configure in policy setting [policy settings](\/admin\/settings\/legal)"
    },
    {
      "type": "checkbox",
      "id": "enable_payment_icons",
      "default": false,
      "label": "Payment icons display"
    },
    {
      "type": "range",
      "id": "policy_link_size",
      "label": "Policy link size",
      "min": 10,
      "max": 14,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "range",
      "id": "payment_icon_size",
      "label": "Payment icon size",
      "min": 20,
      "max": 58,
      "step": 1,
      "unit": "px",
      "default": 30
    },
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "color",
      "id": "copy_color",
      "label": "Copyright color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "brand_color_heading",
      "label": "Brand heading color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "brand_color_text",
      "label": "Brand body color",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "custom-color-1",
          "label": "t:sections.all.colors.custom_color_1.label"
        },
        {
          "value": "custom-color-2",
          "label": "t:sections.all.colors.custom_color_2.label"
        },
        {
          "value": "custom-color-3",
          "label": "t:sections.all.colors.custom_color_3.label"
        },
        {
          "value": "custom-color-4",
          "label": "t:sections.all.colors.custom_color_4.label"
        },
        {
          "value": "custom-color-5",
          "label": "t:sections.all.colors.custom_color_5.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        },
        {
          "value": "gradient-background-1",
          "label": "t:sections.all.colors.gradient_background_1.label"
        }
      ],
      "default": "accent-2",
      "label": "Section color scheme"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 24
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "contact_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
