{%- comment -%} CSS Imports {%- endcomment -%}
<style>
  .rich-text {
  z-index: 1;
}

.rich-text__wrapper {
  display: flex;
  justify-content: center;
  /* width: calc(100% - 4rem / var(--font-body-scale)); */
}

.rich-text:not(.rich-text--full-width) .rich-text__wrapper {
  margin: auto;
  /* width: calc(100% - 8rem / var(--font-body-scale)); */
}

.rich-text__blocks {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .rich-text__wrapper {
    width: 100%;
  }

  .rich-text__wrapper--left {
    justify-content: flex-start;
  }

  .rich-text__wrapper--right {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 767px) {
  .rich-text__blocks {
    max-width: 500px;
  }
}

@media screen and (min-width: 768px) {
  .rich-text__blocks {
    max-width: 78rem;
  }
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 2rem;
}

.rich-text__blocks > * + a {
  margin-top: 3rem;
}

.rich-text__buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 45rem;
  margin-bottom: 10px;
  word-break: break-word;
}

.rich-text__buttons--multiple > * {
  flex-grow: 1;
  min-width: 22rem;
}

.rich-text__buttons + .rich-text__buttons {
  margin-top: 1rem;
}

.rich-text__blocks.left .rich-text__buttons {
  justify-content: flex-start;
}

.rich-text__blocks.right .rich-text__buttons {
  justify-content: flex-end;
}
</style>

{%- comment -%} Global Settings {%- endcomment -%}
{%- liquid
  assign global_heading_size = settings.enable_global_heading_font_size
  assign global_body_size = settings.enable_global_body_font_size
  assign global_color = settings.enable_global_color
-%}

{%- comment -%} Section Styles {%- endcomment -%}
{%- style -%}
  {%- if request.visual_preview_mode -%}
    {% comment %} don't want fade-in animation in preview mode because it messes up preview {% endcomment %}
    .animation_section,
    .animation_section * {
      opacity: 1 !important;
      transform: none !important;
      transition: none !important;
      will-change: auto !important;
    }
  {%- endif -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media screen and (max-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  }
{%- endstyle -%}

{%- comment -%} Main Section {%- endcomment -%}
<div class="rich-main color-{{ section.settings.color_scheme }}">
  <div class="rich-text content-container color-{{ section.settings.color_scheme }} gradient rich-text--full-width content-container--full-width section-{{ section.id }}-padding">
    <div class="rich-text__wrapper rich-text__wrapper--center page-width">
      <div class="rich-text__blocks {{ section.settings.content_alignment }}">
        {%- comment -%} Heading Block {%- endcomment -%}
        {%- if section.settings.heading != blank -%}
          {%- style -%}
            #section-heading-{{ section.id }} {
              font-size: {% if global_heading_size %}var(--font-heading-size)!important{% else %}{{ section.settings.heading_font_size }}px!important{% endif %};
              color: {% if global_color %}rgb(var(--color-base-heading)){% else %}{{ section.settings.heading_color }}{% endif %} !important;
              --color-highlighted-color: {{ section.settings.heading_highlighted_color }};
            }

            @media (max-width: 768px) {
              #section-heading-{{ section.id }} {
                font-size: {% if global_heading_size %}var(--font-heading-mob-size) !important{% else %}{{ section.settings.mobile_heading_font_size }}px!important{% endif %};
              }
            }

            #section-heading-{{ section.id }} strong {
              {%- if section.settings.heading_use_gradient -%}
                background: {% if section.settings.heading_gradient_color != blank %}{{ section.settings.heading_gradient_color }}{% else %}var(--gradient-base-background-1){% endif %};
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
              {%- endif -%}
            }
          {%- endstyle -%}

          <h2 id="section-heading-{{ section.id }}" 
              class="rich-text__heading title" 
              style="margin-top: 0; margin-bottom: 2rem;"
              {{ section.shopify_attributes }}>
            {{ section.settings.heading | replace: 'p>', 'span>' }}
          </h2>
        {%- endif -%}

        {%- comment -%} Text Block {%- endcomment -%}
        {%- if section.settings.text != blank -%}
          {%- style -%}
            #rich-text__text-{{ section.id }} p,
            #rich-text__text-{{ section.id }} {
              font-size: {% if global_body_size %}var(--global-body-text-font-size)!important{% else %}{{ section.settings.body_font_size }}px!important{% endif %};
              line-height: 1.4em;
              color: {% if global_color %}rgb(var(--color-base-text)){% else %}{{ section.settings.body_color }}{% endif %};
              --color-highlighted-color: {{ section.settings.body_highlighted_color }};
            }
          {%- endstyle -%}

          <div id="rich-text__text-{{ section.id }}"
               class="rich-text__text sw-base-text-color image-with-text__text rte body"
               style="margin: 0 auto;"
               {{ section.shopify_attributes }}>
            {{ section.settings.text }}
          </div>
        {%- endif -%}

        {%- comment -%} Buttons Block {%- endcomment -%}
        {%- if section.settings.button_label != blank or section.settings.button_label_2 != blank -%}
          <div class="rich-text__buttons rich-text__buttons-{{ section.id }} {% if section.settings.button_label != blank and section.settings.button_label_2 != blank %}rich-text__buttons--multiple{% endif %}"
               {{ section.shopify_attributes }}>
            {%- style -%}
              .rich-text__buttons-{{ section.id }} .button:after {
                box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(255, 255, 255, calc(1 - 1.0)), 0 0 0 var(--buttons-border-width) var(--color-base-accent-1);
              }
            {%- endstyle -%}

            {%- if section.settings.button_label != blank -%}
              <a {% if section.settings.button_link == blank %}
                   role="link" aria-disabled="true"
                 {% else %}
                   href="{{ section.settings.button_link }}"
                 {% endif %}
                 class="button button--primary split-slide-button">
                <div class="split-slide-right"></div>
                <span class="button-text">{{ section.settings.button_label | escape }}</span>
              </a>
            {%- endif -%}

            {%- if section.settings.button_label_2 != blank -%}
              <a {% if section.settings.button_link_2 == blank %}
                   role="link" aria-disabled="true"
                 {% else %}
                   href="{{ section.settings.button_link_2 }}"
                 {% endif %}
                 class="button button--primary split-slide-button">
                <div class="split-slide-right"></div>
                <span class="button-text">{{ section.settings.button_label_2 | escape }}</span>
              </a>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{%- comment -%} Section Schema {%- endcomment -%}
{% schema %}
{
  "name": "t:sections.rich-text.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Talk about your brand",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
      "label": "Body"
    },
    {
      "type": "inline_richtext",
      "id": "button_label",
      "default": "Button label",
      "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
      "info": "Note: Leave blank to hide"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
    },
    {
      "type": "inline_richtext",
      "id": "button_label_2",
      "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
      "info": "Note: Leave blank to hide"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "label": "Desktop heading size",
      "min": 20,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_heading_font_size",
      "label": "Mobile heading size",
      "min": 10,
      "max": 40,
      "step": 1,
      "unit": "px",
      "default": 28
    },
    {
      "type": "range",
      "id": "body_font_size",
      "label": "Body font size",
      "min": 8,
      "max": 24,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "heading_highlighted_color",
      "label": "Bolded heading color",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "heading_use_gradient",
      "label": "Use gradient for heading",
      "info": "Any text formatted as bold within the heading will be converted to a gradient.",
      "default": false
    },
    {
      "type": "color_background",
      "id": "heading_gradient_color",
      "label": "Heading gradient color"
    },
    {
      "type": "color",
      "id": "body_color",
      "label": "Body color",
      "default": "#302F2F"
    },
    {
      "type": "color",
      "id": "body_highlighted_color",
      "label": "Bolded body color",
      "default": "#302F2F"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "custom-color-1",
          "label": "t:sections.all.colors.custom_color_1.label"
        },
        {
          "value": "custom-color-2",
          "label": "t:sections.all.colors.custom_color_2.label"
        },
        {
          "value": "custom-color-3",
          "label": "t:sections.all.colors.custom_color_3.label"
        },
        {
          "value": "custom-color-4",
          "label": "t:sections.all.colors.custom_color_4.label"
        },
        {
          "value": "custom-color-5",
          "label": "t:sections.all.colors.custom_color_5.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        },
        {
          "value": "gradient-background-1",
          "label": "t:sections.all.colors.gradient_background_1.label"
        }
      ],
      "default": "accent-1",
      "label": "Section color scheme"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 24
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.presets.name"
    }
  ]
}
{% endschema %}
