{%- liquid
   assign global_heading_size = settings.enable_global_heading_font_size
   assign global_body_size = settings.enable_global_body_font_size
   assign global_color = settings.enable_global_color
-%}
{%  style  %}
  {%- if request.visual_preview_mode -%}
    {% comment %} don't want fade-in animation in preview mode because it messes up preview {% endcomment %}
    .animation_section,
    .animation_section * {
      opacity: 1 !important;
      transform: none !important;
      transition: none !important;
      will-change: auto !important;
    }
  {%- endif -%}
  
  #shopify-section-{{ section.id }} .section__customer_review {
    padding: 5px 0;
  }

  .sectionMargin{{ section.id }} {
    margin: 0;
  }

  .sectionPadding{{ section.id }} {
    padding: {{ section.settings.section_padding_top }}px 24px {{ section.settings.section_padding_bottom }}px;
  }

  #sectionHeading{{ section.id }} {
    text-align: center;
    font-size: {% if global_heading_size %}var(--font-heading-size){% else %}{{ section.settings.heading_font_size }}px{% endif %} !important;
    line-height: {% if global_heading_size %}calc(var(--font-heading-size) + 8px){% else %}{{ section.settings.heading_font_size | plus: 8 }}px{% endif %} !important;
    color: {% if global_color %}rgb(var(--color-base-heading)){% else %}{{ section.settings.heading_color }}{% endif %} !important;
    --color-highlighted-color: {{ section.settings.bolded_heading_color }};
    margin: 0;
  }

  #sectionHeading{{ section.id }} strong {
    {%- if section.settings.heading_use_gradient -%}
      background: {% if section.settings.heading_gradient_color != blank %}{{ section.settings.heading_gradient_color }}{% else %}var(--gradient-base-background-1){% endif %};
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    {%- endif -%}
  }

  @media screen and (max-width: 768px) {
    #sectionHeading{{ section.id }} {
      font-size: {% if global_heading_size %}var(--font-heading-mob-size){% else %}{{ section.settings.mobile_heading_font_size }}px{% endif %} !important;
      line-height: {% if global_heading_size %}calc(var(--font-heading-mob-size) + 8px){% else %}{{ section.settings.mobile_heading_font_size | plus: 8 }}px{% endif %} !important;
    }
  }

  .overallRatingContainer{{ section.id }} {
    margin: 26px auto 0;
    display: flex;
    align-items: center;
    width: fit-content;
  }

  .overallRatingText{{ section.id }} {
    display: flex;
    align-items: center;
    font-size: {{ section.settings.rating_font_size }}px;
    line-height: {{ section.settings.rating_font_size | plus: 8 }}px;
    color: #000;
    font-weight: 700;
    padding-top: 5px;
  }

  .stars{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .stars{{ section.id }} img {
    object-fit: cover;
  }

  .stars{{ section.id }}.heading_stars svg,
  .stars{{ section.id }}.heading_stars img {
    width: {{ section.settings.star_size }}px;
    height: {{ section.settings.star_size }}px;
  }

  .swiperSliderOuterContainer{{ section.id }} {
    margin-top: 35px;
  }

  .leftRightButton{{ section.id }} {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: absolute;
    z-index: 999;
    border-radius: 100%;
    transform: translateY(-50%);
    top: 50%;
    border: 1px solid rgba(0,0,0,0.15);
    width: 35px;
    height: 35px;
    visibility: {% if section.settings.show_navigation_buttons %}visible{% else %}hidden{% endif %};
  }

  .reviewNameText{{ section.id }} {
    margin: 0 auto;
    font-size: 15px;
    line-height: 25px;
    color: #000;
    width: fit-content;
    font-weight: 650;
  }

  .prevButton{{ section.id }} {
    left: 2px;
  }

  .nextButton{{ section.id }} {
    right: 2px;
  }

  .prevButton{{ section.id }} svg {
    transform: translateX(1.5%);
  }

  .nextButton{{ section.id }} svg {
    transform: translateX(-1.5%);
  }

  .prevButton{{ section.id }} svg path,
  .nextButton{{ section.id }} svg path {
    fill: {{ section.settings.left_right_icon_color }};
  }

  .reviewSlideContainer{{ section.id }} {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    background-color: {{ section.settings.slide_background_color }};
    box-sizing: border-box;
    height: auto !important;
    {% if section.settings.slide_box_shadow %}
    box-shadow: 0px 0px 18px 0px {{ "#595959" | hex_to_rgba: 0.18 }};
    {% endif %}
  }

  .reviewContentContainer{{ section.id }} {
    padding: 25px;
  }

  .reviewSlideContainer{{ section.id }}.swiper-slide {
    opacity: 0.5;
    transition: opacity 350ms;
  }

  .reviewSlideContainer{{ section.id }}.swiper-slide-active {
    opacity: 1;
  }

  .authorImageContainer{{ section.id }} img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  @media(max-width: 767px) {

    .prevButton{{ section.id }} {
      left: -15px;
    }

    .nextButton{{ section.id }} {
      right: -15px;
    }
  }

  @media(min-width: 767px) {
    .sectionPadding{{ section.id }} {
      padding: {{ section.settings.section_padding_top }}px 0 {{ section.settings.section_padding_bottom }}px;
    }

    .swiperSliderOuterContainer{{ section.id }} {
      width: 100%;
      max-width: 95%;
      margin: 35px auto 0;
    }

    .reviewNameText{{ section.id }} {
      font-size: 16px;
      line-height: 26px;
    }

    #slideHeading{{ section.id }} {
      font-size: 23px;
    }

    .prevButton{{ section.id }},
    .nextButton{{ section.id }} {
      width: 48px;
      height: 48px;
    }

    .prevButton{{ section.id }} {
      left: -17px;
    }

    .nextButton{{ section.id }} {
      right: -17px;
    }

    .reviewSlideContainer{{ section.id }}.swiper-slide-visible.swiper-slide-prev,
    .reviewSlideContainer{{ section.id }}.swiper-slide-visible.swiper-slide-next {
      opacity: 1;
    }
  }
{% endstyle %}

<div class="section__customer_review color-{{ section.settings.color_scheme}}">
  <div
    class="sectionMargin{{ section.id }} sectionPadding{{ section.id }}"
    style="overflow: hidden;"
  >
    <h2 id="sectionHeading{{ section.id }}" class="title image-with-text__heading">{{ section.settings.section_heading }}</h2>
    {% if section.settings.show_overall_rating %}
      <div class="overallRatingContainer{{ section.id }}">
        <div class="heading_stars stars{{ section.id }}" style="margin-right: 10px;">
          {% if section.settings.custom_star_icon != blank %}
            {% assign rating_round = section.settings.overall_rating_value | round %}
            {% for item in (1..rating_round) %}
              {{ section.settings.custom_star_icon | image_url: width: 50 | image_tag }}
            {% endfor %}
          {% else %}
            {% assign rating_plus_one = section.settings.overall_rating_value | plus: 1 %}
            {% for i in (1..5) %}
              {% if i <= section.settings.overall_rating_value %}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path
                    class="color-{{ section.settings.star_color_scheme }}"
                    {% if section.settings.star_color_scheme != blank %}
                      fill="rgb(var(--color-background))"
                    {% else %}
                      fill="rgb(var(--color-base-accent-3))"
                    {% endif %}
                    d="M9.595 6.252L8 1L6.405 6.252H1l4.373 3.4L3.75 15L8 11.695L12.25 15l-1.623-5.348L15 6.252z" />
                </svg>
              {% elsif i >= section.settings.overall_rating_value and i <= rating_plus_one %}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path
                    class="color-{{ section.settings.star_color_scheme }}"
                    {% if section.settings.star_color_scheme != blank %}
                      fill="rgb(var(--color-background))"
                    {% else %}
                      fill="rgb(var(--color-base-accent-3))"
                    {% endif %}
                    d="M6.405 6.252L8 1l1.595 5.252H15l-4.373 3.4L12.25 15L8 11.695L3.75 15l1.623-5.348L1 6.252zM8 10.032l1.915 1.49l-.731-2.41l1.915-1.49H8.732L8 5.214v4.82zm5.652-3.31H9.28z" />
                </svg>
              {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <path
                    class="color-{{ section.settings.star_color_scheme }}"
                    {% if section.settings.star_color_scheme != blank %}
                      fill="rgb(var(--color-background))"
                    {% else %}
                      fill="rgb(var(--color-base-accent-3))"
                    {% endif %}
                    d="M9.595 6.252L8 1L6.405 6.252H1l4.373 3.4L3.75 15L8 11.695L12.25 15l-1.623-5.348L15 6.252zm-7.247.47H6.72L8 2.507L6.72 6.722zm3.537 2.75l-1.307 4.305zm7.767-2.75H9.28zm-8.75.9h2.366L8 5.214l.732 2.41h2.367l-1.915 1.49l.731 2.409L8 10.032l-1.915 1.49l.731-2.41l-1.915-1.49z"/>
                </svg>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
        <div class="overallRatingText{{ section.id }}" style="font-weight: 700; padding-top: 5px;">
          <span>{{ section.settings.overall_rating_value }} / 5</span>
        </div>
      </div>
    {% endif %}
  
    <div class="swiperSliderOuterContainer{{ section.id }}">
      <div class="swiperSliderContainer{{ section.id }} swiper" style="overflow: visible;">
        <div class="prevButton{{ section.id }}  leftRightButton{{ section.id }}">
          <svg
            width="29px"
            height="29px"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            style="margin-left: -2.5px;"
          >
            <g>
              <path d="M14.001,17.002a1,1,0,0,1-.708-.294l-4.001-4a1,1,0,0,1,0-1.414l4-3.999a1,1,0,1,1,1.415,1.415L11.415,12l3.294,3.293A1,1,0,0,1,14.001,17.002Z"/>
            </g>
          </svg>
        </div>
        <div class="nextButton{{ section.id }} leftRightButton{{ section.id }}">
          <svg
            width="29px"
            height="29px"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            style="margin-right: -2.5px;"
          >
            <g transform="rotate(180, 12, 12)">
              <path d="M14.001,17.002a1,1,0,0,1-.708-.294l-4.001-4a1,1,0,0,1,0-1.414l4-3.999a1,1,0,1,1,1.415,1.415L11.415,12l3.294,3.293A1,1,0,0,1,14.001,17.002Z"/>
            </g>
          </svg>
        </div>
  
        <div class="swiper-wrapper fade-in-child">
          {% for block in section.blocks %}
            {% style %}
               #slideHeading{{ block.id }} {
                font-weight: 700;
                font-size: {{ block.settings.review_slide_heading_size }}px;
                line-height: {{ block.settings.review_slide_heading_size | plus: 8 }}px;
                text-align: center;
                color: {{ block.settings.review_heading_color }}; 
                --color-highlighted-color: {{ block.settings.review_bolded_heading_color }};
                margin-top: 1rem;
              }

              #slideText{{ block.id }} {
                font-size: {{ block.settings.review_slide_text_size }}px;
                line-height: {{ block.settings.review_slide_text_size | plus: 10 }}px;
                margin-top: 15px;
                color: {% if global_color %}rgb(var(--color-base-text)){% else %}{{ block.settings.review_body_color }}{% endif %};
                --color-highlighted-color: {{ block.settings.review_bolded_body_color }};
                text-align: center;
              }

              .stars{{ section.id }}.review_stars-{{ block.id }} svg,
              .stars{{ section.id }}.review_stars-{{ block.id }} img {
                width: {{ block.settings.review_star_size }}px;
                height: {{ block.settings.review_star_size }}px;
              }
            {% endstyle %}
            <div class="reviewSlideContainer{{ section.id }} swiper-slide" {{ block.shopify_attributes }}>
              {% if block.settings.author_image != blank %}
                <div class="authorImageContainer{{ section.id }}">
                  {{ block.settings.author_image | image_url: width: 1200 | image_tag }}
                </div>
              {% endif %}

              <div class="reviewContentContainer{{ section.id }}">
                {% if block.settings.review_heading != blank %}
                  <div 
                    id="slideHeading{{ block.id }}"
                    class="slide_review_heading"
                    >{{ block.settings.review_heading }}</div>
                {% endif %}
  
                {% if block.settings.review_text != blank %}
                  <div 
                    id="slideText{{ block.id }}"
                    class="slide_review_body"
                  >
                    {{ block.settings.review_text }}
                  </div>
                {% endif %}
                
                {% if block.settings.review_name != blank %}
                  <div class="reviewNameText{{ section.id }}" style="color: {{ block.settings.author_name_color }}">{{ block.settings.review_name }}</div>
                {% endif %}
    
                <div class="starsOuterContainer{{ section.id }}">
                  {% if block.settings.num_stars != 0 %}
                    <div class="review_stars-{{ block.id }} stars{{ section.id }}">
                      {% if section.settings.custom_star_icon != blank %}
                        {% assign num_stars_round = block.settings.num_stars | round %}
                        {% for item in (1..num_stars_round) %}
                          {{ section.settings.custom_star_icon | image_url: width: 50 | image_tag }}
                        {% endfor %}
                      {% else %}
                        {% assign rating_plus_one = block.settings.num_stars | plus: 1 %}
                        {% for i in (1..5) %}
                          {% if i <= block.settings.num_stars %}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                              <path
                                class="color-{{ section.settings.star_color_scheme }}"
                                {% if section.settings.star_color_scheme != blank %}
                                  fill="rgb(var(--color-background))"
                                {% else %}
                                  fill="rgb(var(--color-base-accent-3))"
                                {% endif %}
                                d="M9.595 6.252L8 1L6.405 6.252H1l4.373 3.4L3.75 15L8 11.695L12.25 15l-1.623-5.348L15 6.252z" />
                            </svg>
                          {% elsif i >= block.settings.num_stars and i <= rating_plus_one %}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                              <path
                                class="color-{{ section.settings.star_color_scheme }}"
                                {% if section.settings.star_color_scheme != blank %}
                                  fill="rgb(var(--color-background))"
                                {% else %}
                                  fill="rgb(var(--color-base-accent-3))"
                                {% endif %}
                                d="M6.405 6.252L8 1l1.595 5.252H15l-4.373 3.4L12.25 15L8 11.695L3.75 15l1.623-5.348L1 6.252zM8 10.032l1.915 1.49l-.731-2.41l1.915-1.49H8.732L8 5.214v4.82zm5.652-3.31H9.28z" />
                            </svg>
                          {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                              <path
                                class="color-{{ section.settings.star_color_scheme }}"
                                {% if section.settings.star_color_scheme != blank %}
                                  fill="rgb(var(--color-background))"
                                {% else %}
                                  fill="rgb(var(--color-base-accent-3))"
                                {% endif %}
                                d="M9.595 6.252L8 1L6.405 6.252H1l4.373 3.4L3.75 15L8 11.695L12.25 15l-1.623-5.348L15 6.252zm-7.247.47H6.72L8 2.507L6.72 6.722zm3.537 2.75l-1.307 4.305zm7.767-2.75H9.28zm-8.75.9h2.366L8 5.214l.732 2.41h2.367l-1.915 1.49l.731 2.409L8 10.032l-1.915 1.49l.731-2.41l-1.915-1.49z"/>
                            </svg>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script async>
  let swiper{{ section.id | replace: '-', '' }};
  function setupSwiperJs{{ section.id | replace: '-', '' }}() {
    swiper{{ section.id | replace: '-', '' }} = new Swiper(`.swiperSliderContainer{{ section.id }}`, {
      watchSlidesProgress: true,
      navigation: {
        nextEl: `.nextButton{{ section.id }}`,
        prevEl: `.prevButton{{ section.id }}`
      },
      loop: true,
      centeredSlides: true,
      slidesPerView: 1,
      spaceBetween: 25,
      breakpoints: {
        768: {
          centeredSlides: true,
          spaceBetween: 25,
          slidesPerView: 1
        },
        1000: {
        // centeredSlides: true,
          spaceBetween: 18,
          slidesPerView: {{section.settings.sliders_per_view}},
          centeredSlides: false
        }
      }
    })
  }

  function cleanupSwiper{{ section.id | replace: '-', '' }}() {
    if (swiper{{ section.id | replace: '-', '' }}) {
      swiper{{ section.id | replace: '-', '' }}.destroy();
      swiper{{ section.id | replace: '-', '' }} = null;
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
    window.requestAnimationFrame(() => setupSwiperJs{{ section.id | replace: '-', '' }}())
  });

  if(Shopify.designMode) {
  document.addEventListener('shopify:section:load', setupSwiperJs{{ section.id | replace: '-', '' }});
  document.addEventListener('shopify:section:unload', cleanupSwiper{{ section.id | replace: '-', '' }});
  }
</script>

{% schema %}
{
  "name": "Customer reviews",
  "tag": "section",
  "class": "section animation_section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "section_heading",
      "label": "Section heading",
      "default": "Customer Reviews"
    },
    {
      "type": "checkbox",
      "id": "show_overall_rating",
      "label": "Display rating",
      "default": true
    },
    {
      "type": "range",
      "id": "overall_rating_value",
      "step": 0.1,
      "min": 0,
      "max": 5,
      "label": "Rating value",
      "default": 4.8
    },
    {
      "type": "image_picker",
      "label": "Custom star icon",
      "id": "custom_star_icon",
      "info": "Replaces the default stars icon"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "label": "Desktop heading size",
      "min": 20,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 35
    },
    {
      "type": "range",
      "id": "mobile_heading_font_size",
      "label": "Mobile heading size",
      "min": 10,
      "max": 40,
      "step": 1,
      "unit": "px",
      "default": 25
    },
    {
      "type": "range",
      "id": "star_size",
      "step": 1,
      "min": 20,
      "max": 40,
      "unit": "px",
      "label": "Heading star size",
      "default": 35
    },
    {
      "type": "range",
      "id": "rating_font_size",
      "step": 1,
      "min": 14,
      "max": 40,
      "unit": "px",
      "label": "Rating value size",
      "default": 25
    },
    {
      "type": "range",
      "id": "sliders_per_view",
      "label": "Desktop columns",
      "min": 1,
      "max": 5,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "show_navigation_buttons",
      "label": "Navigation buttons",
      "default": true
    },
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "checkbox",
      "id": "slide_box_shadow",
      "label": "Slide box shadow",
      "default": true
    },
    {
      "type": "select",
      "id": "star_color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "custom-color-1",
          "label": "t:sections.all.colors.custom_color_1.label"
        },
        {
          "value": "custom-color-2",
          "label": "t:sections.all.colors.custom_color_2.label"
        },
        {
          "value": "custom-color-3",
          "label": "t:sections.all.colors.custom_color_3.label"
        },
        {
          "value": "custom-color-4",
          "label": "t:sections.all.colors.custom_color_4.label"
        },
        {
          "value": "custom-color-5",
          "label": "t:sections.all.colors.custom_color_5.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        },
        {
          "value": "gradient-background-1",
          "label": "t:sections.all.colors.gradient_background_1.label"
        }
      ],
      "default": "accent-3",
      "label": "Stars color"
    },
    {
      "type": "color",
      "label": "Slide background",
      "id": "slide_background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Navigation arrows",
      "id": "left_right_icon_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Heading color",
      "id": "heading_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Bolded heading color",
      "id": "bolded_heading_color",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "heading_use_gradient",
      "label": "Use gradient for heading",
      "info": "Any text formatted as bold within the heading will be converted to a gradient.",
      "default": false
    },
    {
      "type": "color_background",
      "id": "heading_gradient_color",
      "label": "Heading gradient color"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "custom-color-1",
          "label": "t:sections.all.colors.custom_color_1.label"
        },
        {
          "value": "custom-color-2",
          "label": "t:sections.all.colors.custom_color_2.label"
        },
        {
          "value": "custom-color-3",
          "label": "t:sections.all.colors.custom_color_3.label"
        },
        {
          "value": "custom-color-4",
          "label": "t:sections.all.colors.custom_color_4.label"
        },
        {
          "value": "custom-color-5",
          "label": "t:sections.all.colors.custom_color_5.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        },
        {
          "value": "gradient-background-1",
          "label": "t:sections.all.colors.gradient_background_1.label"
        }
      ],
      "default": "accent-3",
      "label": "Section color scheme"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "step": 2,
      "min": 0,
      "max": 100,
      "unit": "px",
      "label": "Top padding",
      "default": 58
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "step": 2,
      "min": 0,
      "max": 100,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 58
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Review slide",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "review_heading",
          "label": "Heading",
          "default": "Its worth every penny!"
        },
        {
          "type": "inline_richtext",
          "id": "review_text",
          "label": "Body",
          "default": "Review in male tone"
        },
        {
          "type": "image_picker",
          "id": "author_image",
          "label": "Author image"
        },
        {
          "type": "inline_richtext",
          "id": "review_name",
          "label": "Author name",
          "default": "John M."
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "range",
          "id": "num_stars",
          "min": 0,
          "max": 5,
          "step": 0.1,
          "label": "Number of stars",
          "default": 5
        },
        {
          "type": "range",
          "id": "review_star_size",
          "step": 1,
          "min": 10,
          "max": 30,
          "unit": "px",
          "label": "Review star size",
          "default": 20
        },
        {
          "type": "range",
          "id": "review_slide_heading_size",
          "step": 1,
          "min": 12,
          "max": 24,
          "unit": "px",
          "label": "Heading size",
          "default": 20
        },
        {
          "type": "range",
          "id": "review_slide_text_size",
          "step": 1,
          "min": 8,
          "max": 20,
          "unit": "px",
          "label": "Body font size",
          "default": 15
        },
        {
          "type": "header",
          "content": "Styling"
        },
        {
          "type": "color",
          "id": "review_heading_color",
          "label": "Heading color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "review_bolded_heading_color",
          "label": "Bolded heading color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "review_body_color",
          "label": "Body color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "review_bolded_body_color",
          "label": "Bolded body color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "author_name_color",
          "label": "Author name color",
          "default": "#000000"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer reviews",
      "blocks": [
        {
          "type": "slide",
          "settings": {
            "review_heading": "Great Product!",
            "review_text": "I never thought I'd find something better than what I was using before, but this has completely blown me away! It's reliable, well-designed, and priced perfectly. I'm thoroughly impressed with the performance and how easy it is to use.",
            "review_name": "John"
          }
        },
        {
          "type": "slide",
          "settings": {
            "review_heading": "Very Satisfied!",
            "review_text": "I never thought I'd find something better than what I was using before, but this has completely blown me away! It's reliable, well-designed, and priced perfectly. I'm thoroughly impressed with the performance and how easy it is to use.",
            "review_name": "James"
          }
        },
        {
          "type": "slide",
          "settings": {
            "review_heading": "In love with it! ❤️",
            "review_text": "I never thought I'd find something better than what I was using before, but this has completely blown me away! It's reliable, well-designed, and priced perfectly. I'm thoroughly impressed with the performance and how easy it is to use.",
            "review_name": "Jim"
          }
        },
        {
          "type": "slide",
          "settings": {
            "review_heading": "A must have!",
            "review_text": "I never thought I'd find something better than what I was using before, but this has completely blown me away! It's reliable, well-designed, and priced perfectly. I'm thoroughly impressed with the performance and how easy it is to use.",
            "review_name": "Jared"
          }
        }
      ]
    }
  ]
}
{% endschema %}
